<section class="header">
    <div class="h_wrapper">
        <div class="h_logo">
            <img src="/static/images/logo/logo.png" alt="">
        </div>
        <div class="h_nav">
            <a href="/">
                <p>Главная</p>
            </a>
            <a href="/admin/orders">
                <p>Заказы</p>
            </a>
            <a href="/admin/products">
                <p>Товары</p>
            </a>
            <a href="/admin/categories">
                <p>Категории</p>
            </a>
            
            <a href="/admin/promo">
                <p>Промокоды</p>
            </a>
        </div>
        <div class="h_logout_block">
            <a href="/logout">
                <p>ВЫХОД</p>
            </a>
        </div>
    </div>
</section>