<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hyper.Rock_Shop_Sales</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'linkstop.html' %}
</head>

<body>
  
   {% include 'header.html' %}
        <!-- about-us-area start-->
        <div class="about-us-area ptb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                       <div class="heading-title heading-style pos-rltv mb-50 text-center">
                           <h5 class="uppercase">О нас</h5>
                       </div>
                   </div>
                   <div class="about-us-wrap">
                       <div class="col-md-6 col-sm-12 col-xs-12">
                           <div class="about-img"><img src="/static/images/blog/about.jpg" alt=""></div>
                       </div>
                       <div class="col-md-6 col-sm-12 col-xs-12">
                           <div class="about-des">
                               <p>Hype.Rock_Shop_Sales  – интернет-магазин хайповой одежды. HRSS основан в 2016 году. До разработки сайта магазин базариовался на таких платформах как: Instagram, VK, Юла и Авито.</p>
                               <p>Цель Hype.Rock_Shop_Sales - пробиться в топы интернет-магазинов.</p>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <!-- about-us-area end-->
        
        <!--better-area start-->
        <div class="better-area pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="heading-title heading-style pos-rltv mb-50 text-center">
                            <h5 class="uppercase">Мы в социальных сетях</h5> 
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                          <div class="skill-content">
                           <p>Наша компания ведет блоги в таких социальных сетях как Instagram и VK. В наших соц сетях вы можете найти наш товар, постоянные конкурсы одежды и сторисы о жизни и продвижение нашей компании </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="skill-img"><img src="/static/images/blog/skill.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        <!--better-area end-->
        
        
         <!-- footer area start-->
        {% include 'footer.html' %}
        
    </div> 
    <!-- Body main wrapper end -->


    {% include 'linksbot.html' %}

</body>

</html>