<!-- footer area start-->
<div class="footer-area ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="single-footer contact-us">
                    <div class="footer-title uppercase">
                        <h5>Контакты</h5> </div>
                    <ul>
                        <li>
                            <div class="contact-icon"> <i class="zmdi zmdi-pin-drop"></i> </div>
                            <div class="contact-text">
                                <p><span>Россия, Москва</span> 
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon"> <i class="zmdi zmdi-email-open"></i> </div>
                            <div class="contact-text">
                                <p><span>hyper.rock.ss@yandex.ru</span></p> <p><span>dignatiev2000@list.ru</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon"> <i class="zmdi zmdi-phone-paused"></i> </div>
                            <div class="contact-text">
                                <p><span>8 (968) 429-62-40</span></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="single-footer informaton-area">
                    <div class="footer-title uppercase">
                        <h5>Информация</h5> </div>
                    <div class="informatoin">
                        <ul>
                            <li><a href="/aboutus">О компании</a></li>
                            <li><a href="/warranty">Гарантии</a></li>
                            <li><a href="/toe">Пользовательское соглашение</a></li>
                            <li><a href="/policy">Политика Конфиденциальности</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 hidden-sm col-xs-12">
                <div class="single-footer instagrm-area">
                    <div class="footer-title uppercase">
                        <h5>Покупателям</h5> 
                    </div>
                    <div class="informatoin">
                        <ul>
                            <li><a href="/shipping">Доставка и оплата</a></li>
                            <li><a href="/tracking">Отслеживание заказа</a></li>
                            <li><a href="/sizetable">Таблица размеров</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-lg-offset-1 col-xs-12">
                <div class="single-footer newslatter-area">
                    <!-- <div class="footer-title uppercase">
                        <h5>Рассылка</h5> 
                    </div> -->
                    <div class="newslatter">
                        <!-- <form action="/subscribe" method="post">
                            <div class="input-box pos-rltv">
                                <input placeholder="Введите свою почту" type="text"> 
                                <a href="#">
                                    <i class="zmdi zmdi-arrow-right"></i>
                                </a>
                            </div>
                        </form> -->
                        <div class="social-icon socile-icon-style-3 mt-40">
                            <div class="footer-title uppercase">
                                <h5>Социальные сети</h5> 
                            </div>
                            <ul>
                                <li><a href="https://instagram.com/hype.rock_shop_sales?igshid=jhe.."><i class="zmdi zmdi-instagram"></i></a></li>
                                <li><a href="https://vk.com/hyperockshop"><i class="zmdi zmdi-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer area start-->

<!--footer bottom area start-->
<div class="footer-bottom global-table">
<div class="global-row">
<div class="global-cell">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="copyrigth"> 
                    <a href="#">© 2021 HYPER.ROCK_SHOP_SALES. Все права защищены</a>  
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <ul class="payment-support text-right">
                    <li>
                        <a><img src="/static/images/icons/paymenttypes.png" alt="" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>          
<!--footer bottom area end-->  