<script src="{{ url_for('static', filename='js/vendor/jquery-1.12.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/slider/jquery.nivo.slider.pack.js') }}"></script>
<script src="{{ url_for('static', filename='js/slider/nivo-active.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>