<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/shortcode/shortcodes.css') }} ">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/color/skin-default.css') }}">
<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>