<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hyper.Rock_Shop_Sales</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'linkstop.html' %}
</head>

<body>
  
    <div class="wrapper about-us">
       
        {% include 'header.html' %}
        <!--breadcumb area start -->
        <div class="breadcumb-area breadcumb-3 overlay pos-rltv">
            <div class="bread-main">
                <div class="bred-hading text-center">
                    <h5>Таблица размеров</h5> </div>
                <ol class="breadcrumb">
                    <li class="home"><a title="Go to Home Page" href="/">Главная</a></li>
                    <li class="active">Таблица размеров</li>
                </ol>
            </div>
        </div>
        <!--breadcumb area end -->
        
        <!-- about-us-area start-->
        <div class="about-us-area ptb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                       <div class="heading-title heading-style pos-rltv mb-50 text-center">
                           <h5 class="uppercase">Таблица размеров</h5>
                       </div>
                   </div>
                <div>    
                    <div class="skill-content">
                        <p>УВАЖАЕМЫЕ ПОКУПАТЕЛИ, ПРОСИМ ОБРАТИТЬ ВАШЕ ВНИМАНИЕ, ЧТО У НАС НЕСТАНДАРТНАЯ РАЗМЕРНАЯ СЕТКА. ВОСПОЛЬЗУЙТЕСЬ ЗАМЕРАМИ ПРИ ПОДБОРЕ РАЗМЕРА.</p>
                        <p>Также можете обратиться к нам по телефону - 8 (968) 429-62-40.</p>
                     </div>           
                    <h5 class="uppercase font-bold">Размерная сетка футболок:</h5>
                           </div>
                           <table>
                               <tr>
                                   <th>Размер</th>
                                   <th>Рост</th>
                                   <th>Вес</th>
                                   <th>Высота изделия по спине (см)</th>
                                   <th>Ширина изделия по проймой (см)</th>
                                        </tr>
                                        <tr>
                                        <td>S</td>
                                        <td>155-165</td>
                                        <td>45-60</td>
                                        <td>60-63</td>
                                        <td>44-46</td>
                                            </tr>
                                            <tr>
                                            <td>M</td>
                                            <td>160-170</td>
                                            <td>50-65</td>
                                            <td>62-65</td>
                                            <td>45-48</td>
                                                </tr>
                                                <tr>
                                                <td>L</td>
                                                <td>165-175</td>
                                                <td>55-70</td>
                                                <td>64-67</td>
                                                <td>47-50</td>
                                                    </tr>
                                                    <tr>
                                                    <td>XL</td>
                                                    <td>170-185</td>
                                                    <td>65-85</td>
                                                    <td>67-70</td>
                                                    <td>51-53</td>
                                                    </tr>
                                                    <tr>
                                                <td>XXL</td>
                                                <td>175-190</td>
                                                <td>75-95</td>
                                                <td>70-73</td>
                                                <td>52-54</td>
                                                </tr>
                                            <tr>
                                            <td>XXL</td>
                                            <td>175-190</td>
                                            <td>75-95</td>
                                            <td>70-73</td>
                                            <td>52-54</td>
                                            </tr>
                                        <tr>
                                        <td>XXXL</td>
                                        <td>180-195</td>
                                        <td>75-95</td>
                                        <td>70-73</td>
                                        <td>52-54</td>
                                        </tr>
                                        <tr>
                                    <td>46</td>
                                    <td>155-165</td>
                                    <td>45-60</td>
                                    <td>61-64</td>
                                    <td>42-45</td>
                                    </tr>
                                    <tr>
                                <td>48</td>
                                <td>160-170</td>
                                <td>50-65</td>
                                <td>63-67</td>
                                <td>44-48</td>
                                </tr>
                                <tr>
                                <td>50</td>
                                <td>165-175</td>
                                <td>55-70</td>
                                <td>64-68</td>
                                <td>46-50</td>
                                </tr>
                                <tr>
                                <td>52</td>
                                <td>170-185</td>
                                <td>65-85</td>
                                <td>66-71</td>
                                <td>49-52</td>
                                </tr>
                                <tr>
                                <td>54</td>
                                <td>175-190</td>
                                <td>75-95</td>
                                <td>69-73</td>
                                <td>50-53</td>
                                </tr>
                                <tr>
                                <td>56</td>
                                <td>180-195</td>
                                <td>85-100</td>
                                <td>74-79</td>
                                <td>54-58</td>
                                </tr>
                           </table>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <!-- about-us-area end-->
        
        <!--better-area start-->
        <div class="better-area pb-70">
            <div class="container">
                <div class="row">    
                    <h5 class="uppercase font-bold">Размерная сетка свитшотов:</h5>
                    <table>
                    <tr>
                        <th>Размер</th>
                        <th>Рост</th>
                        <th>Вес</th>
                        <th>Высота изделия по спине (см)</th>
                        <th>Ширина изделия по проймой (см)</th>
                             </tr>
                             <tr>
                             <td>S/46</td>
                             <td>150-165</td>
                             <td>45-55</td>
                             <td>60-63</td>
                             <td>44-47</td>
                                 </tr>
                                 <tr>
                                 <td>M/48</td>
                                 <td>160-175</td>
                                 <td>50-65</td>
                                 <td>61-65</td>
                                 <td>45-49</td>
                                     </tr>
                                     <tr>
                                     <td>L/50</td>
                                     <td>165-180</td>
                                     <td>60-75</td>
                                     <td>62-66</td>
                                     <td>47-51</td>
                                         </tr>
                                         <tr>
                                         <td>XL/52</td>
                                         <td>170-185</td>
                                         <td>70-85</td>
                                         <td>64-68</td>
                                         <td>51-55</td>
                                         </tr>
                                        </table> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--better-area end-->
        
       
        
         {% include 'footer.html' %}
        
    </div> 
    <!-- Body main wrapper end -->

   
    {% include 'linksbot.html' %}

</body>

</html>