<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hype.Rock_Shop_Sales</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<div style="text-align: center;"><h2>Номер вашего заказа {{ id }}.</h2></div>
<div style="text-align: center;"><h2>Спасибо за Ваш заказ, в ближайшее время с вами свяжутся для уточнения заказа.</h2></div>
<h3 style="text-align: center;"><a href="/">Вернуться на главную.</a></h3>


</body>

</html>