<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hyper.Rock_Shop_Sales</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'linkstop.html' %}
</head>

<body>
    
    <div class="wrapper about-us">
       
         {% include 'header.html' %}
        <!--breadcumb area start -->
        <div class="breadcumb-area breadcumb-3 overlay pos-rltv">
            <div class="bread-main">
                <div class="bred-hading text-center">
                    <h5>Гарантии</h5> </div>
                <ol class="breadcrumb">
                    <li class="home"><a title="Go to Home Page" href="/">Главная</a></li>
                    <li class="active">Гарантии</li>
                </ol>
            </div>
        </div>
        <!--breadcumb area end -->
        
        <!-- about-us-area start-->
        <div class="about-us-area ptb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                       <div class="heading-title heading-style pos-rltv mb-50 text-center">
                           <h5 class="uppercase">Гарантии</h5>
                       </div>
                   </div>
                   <div class="about-us-wrap">
                       <div class="col-md-6 col-sm-12 col-xs-12">
                           <div class="about-img"><img src="/static/images/blog/about.jpg" alt=""></div>
                       </div>
                       <div class="col-md-6 col-sm-12 col-xs-12">
                           <div class="about-des">
                               <p>Если по каким-то причинам вещь не понравилась или не подошла - в течение 14 дней можно вернуть с возвращением полной стоимости (не считая доставки).</p>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <!-- about-us-area end-->
        
         {% include 'footer.html' %}
        
    </div> 
    <!-- Body main wrapper end -->

   {% include 'linksbot.html' %}
</body>

</html>